<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hangman - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
</head>

<body>
    <div id="about-content">
        <h1>About Hangman Game</h1>
        <p>Welcome to the exciting world of Hangman! Hangman is a classic word-guessing game that has entertained people
            of all ages for generations. It's a game of wit, strategy, and a bit of luck.</p>

        <h2>Objective</h2>
        <p>The main objective of Hangman is to decipher a hidden word by suggesting letters. Players embark on a journey of
            deduction and word recognition to unveil the mystery word within a set number of attempts.</p>

        <h2>How to Play</h2>
        <p>Playing Hangman is a thrilling experience. Here's a step-by-step guide:</p>
        <ol>
            <li>A random word is carefully chosen, and its length is represented by blank spaces.</li>
            <li>Players take turns guessing letters by clicking on the provided letter options.</li>
            <li>If a guessed letter is part of the word, it is revealed in the corresponding blank space(s).</li>
            <li>Incorrect guesses contribute to the formation of a hangman figure, adding an element of suspense.</li>
            <li>The game continues until the entire word is uncovered, leading to victory, or the hangman figure is
                completed, resulting in a challenging defeat.</li>
        </ol>

        <h2>Scoring</h2>
        <p>Your prowess in Hangman is measured by your score, which is determined by the number of attempts it takes to
            unveil the word. Strive for accuracy and efficiency to achieve the highest score possible.</p>

        <h2>Hangman Figures</h2>
        <p>As you make incorrect guesses, a hangman figure gradually takes shape. Here are some examples:</p>

        <!-- Replace the image URLs with actual image links -->
        <img src="https://as1.ftcdn.net/v2/jpg/03/63/09/08/1000_F_363090811_wNoDTuqgxnVN3ZdWJAH9rkiexDEtMLA9.jpg" alt="Hangman Figure 1" width="200">
        <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ63bZ9-d9KLHmXM7kXcxhBTIG--ZPlT64tcQ&usqp=CAU" alt="Hangman Figure 2" width="200">

        <h2>Word Categories</h2>
        <p>Hop into the world of diverse vocabulary! Hangman words span various categories, from everyday terms to
            specialized themes. You might find yourself unraveling the mysteries of animals, countries, or even
            scientific terms.</p>

        <h2>Have Fun!</h2>
        <p>Embark on a word-guessing adventure, challenge your linguistic skills, and, most importantly, have fun! Hangman
            is a timeless game that promises enjoyment and mental stimulation.</p>
    </div>
</body>

</html>
